<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">First blog</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', welcome_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Articles', articles_path, class: "nav-link" %>
      </li>
    </ul>
    <form class="form-inline pull-xs-right">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-outline-success" %>
    </form>
  </nav>
</div>
<br>
<div class="container">
  <div class="box box-widget">
    <div class="box-header with-border">
      <div class="user-block">
        <%= image_tag("123.jpg", size: "50x50", alt: "User Image", class: "img-circle") %>
        <span class="username"><a href="#">Nguyễn Hoàng Tú</a></span>
        <span class="description">Posted at <%= @article.time.strftime("%d-%m-%Y %H:%M") %></span>
      </div>
      <!-- /.user-block -->
      <div class="box-tools">
          <%= link_to '', edit_article_path(@article), class: "btn btn-box-tool btn-sm fa fa-edit"  %>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- post text -->
      <h4><%= @article.title %></h4>
      <% @markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>
      <p><%= @markdown.render(@article.body).html_safe %></p>
      <br>
      <% if @article.tags.is_a? String %>
        <strong for="tags">Tags:</strong>
        <% arr = ["danger", "success", "warning", "info"] %>
        <% @article.tags.split(",").each.with_index do |tag, index| %>
          <% tag_type = arr[index%4] %>
          <span class="label label-<%= tag_type %>"><%= tag %> </span>
        <% end %>
      <% end %>
      <span class="pull-right text-muted"><%= @article.comments.count %> comments</span>
    </div>

    <%= render @article.comments %>
    <%= render "comments/form" %>
  </div>
</div>
